<!DOCTYPE html>
<html lang="zh-tw">
<title>{% block title %}{% endblock %}</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block header %}{% endblock %}
</head>
<body>
    <section class="content">

    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block head %}
    <i class="position-absolute start-0 top-0">
        <img src="{{ url_for('static', filename='/src/img/waiting.jpg') }}" class="rounded-circle border border-{{ main_color }} border-3 z-depth-2 m-3 d-block" alt="50x50 icon" height="50" width="50">
    </i>
    <div class="head d-flex m-3">
        <h1 class="text-center m-auto mt-2">{{ title }}</h1>
    </div>
    {% endblock %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block selector %}
        <div class="fixed-bottom bg-{{ main_color }} d-flex justify-content-evenly ">
            <a href="{{ url_for('root.view') }}">
                <i>
                    <img src="{{ url_for('static', filename='/src/img/waiting.jpg') }}" class="rounded-circle border border-secondary border-3 z-depth-2 m-2 d-block" alt="50x50 icon" height="50" width="50">
                </i>
            </a>
            <a href="{{ url_for('root.test') }}">
                <i>
                    <img src="{{ url_for('static', filename='/src/img/waiting.jpg') }}" class="rounded-circle border border-secondary border-3 z-depth-2 m-2 d-block" alt="50x50 icon" height="50" width="50">
                </i>
            </a>
            <a href="{{ url_for('root.user') }}">
                <i>
                    <img src="{{ url_for('static', filename='/src/img/waiting.jpg') }}" class="rounded-circle border border-secondary border-3 z-depth-2 m-2 d-block" alt="50x50 icon" height="50" width="50">
                </i>
            </a>
        </div>
    {% endblock %}
    
    </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</html>