{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column flex-wrap w-75 m-auto justify-content-center align-items-center">
    
    <div class="accordion w-100 text-center mt-3" id="accordionView">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseView" aria-expanded="false" aria-controls="collapseView">
                    測試資料
                </button>
            </h2>
            <div id="collapseView" class="accordion-collapse collapse show" data-bs-parent="#accordionView">
                <div class="accordion-body">
                    <div class="test-table d-flex w-100 overflow-auto justify-content-center align-items-center">
                        <table class="table-hover">
                            <thead class="table-light"></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div id="pagination" class=" mt-3 d-flex justify-content-end">
                        <ul class="pagination">
                            <li class="page-item" id="btn_prev">
                                <a href="javascript:prevPage()" class="page-link">Prev</a>
                            </li>
                            <li class="page-item" id="btn_next">
                                <a href="javascript:nextPage()" class="page-link">Next</a>
                            </li>
                            <li class="page-item" id="page_number">
                                <a class="page-link">
                                    p. <span id="page"></span>
                                </a> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary m-5" onclick="getResult()">測試</button>
    <div style="height: 5rem;"></div>
</div>

<!-- Menu -->
<menu>
    <button href="#" name="add-row" class="action" onclick="editClicked(this)">
        <img src="{{ url_for('static', filename='/src/img/add_row.png') }}" class="rounded-circle border border-secondary border-3 z-depth-2 m-2 d-block" alt="50x50 icon" height="50" width="50">
    </button>
    <button href="#" name="edit-cell" class="action" data-bs-toggle="modal" data-bs-target="#editModal">
        <img src="{{ url_for('static', filename='/src/img/edit_cell.png') }}" class="rounded-circle border border-secondary border-3 z-depth-2 m-2 d-block" alt="50x50 icon" height="50" width="50">
    </button>
    <button href="#" name="delete-row" class="action" onclick="editClicked(this)">
        <img src="{{ url_for('static', filename='/src/img/del_row.png') }}" class="rounded-circle border border-secondary border-3 z-depth-2 m-2 d-block" alt="50x50 icon" height="50" width="50">
    </button>
    <button href="#" name="load-file" class="action" data-bs-toggle="modal" data-bs-target="#loadModal">
        <img src="{{ url_for('static', filename='/src/img/load_file.png') }}" class="rounded-circle border border-secondary border-3 z-depth-2 m-2 d-block" alt="50x50 icon" height="50" width="50">
    </button>
    <a href="#" class="trigger">
        <img src="{{ url_for('static', filename='/src/img/edit.png') }}" class="rounded-circle border border-secondary border-3 z-depth-2 m-2 d-block" alt="75x75 icon" height="75" width="75">
    </a>
</menu>

<!-- Loading -->
<div id="loading" class="d-flex justify-content-center align-items-center position-fixed start-0 top-0 w-100 h-100 bg-secondary invisible" style="opacity: 0.6;z-index:2000;">
    <div class="spinner-border text-info" style="width: 4rem; height: 4rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">修改內容</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-auto">
                <input type="text" onkeypress='validate(event)' id="editTableField">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" name="edit-cell" class="btn btn-primary" onclick="editClicked(this)" data-bs-dismiss="modal">確定</button>
            </div>
        </div>
    </div>
</div>

<!-- Load Modal -->
<div class="modal fade" id="loadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadModalLabel">上傳檔案</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-auto">
                <input type="file" id="file-selector" accept=".csv">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" name="load-file" class="btn btn-primary" onclick="editClicked(this)" data-bs-dismiss="modal">確定</button>
            </div>
        </div>
    </div>
</div>

<script>
    const COLUMNS = ["ID", "Shop Id", "Item Id"]
    const selectList = {};
    const loading = document.getElementById('loading');
    const ROWS_PER_PAGE = 15;
    var testDatas = [];
    var current_page = 1;

    class TestData{

        constructor(id, shopId, itemId){
            this.data = {
                "ID": id,
                "Shop Id": shopId,
                "Item Id": itemId
            }
            this.isSelect = {
                "ID": false,
                "Shop Id": false,
                "Item Id": false
            };
            this.target = {
                "Shop Id": null,
                "Item Id": null
            }
        }

        toggleSelect(key){
            this.isSelect[key] = !this.isSelect[key];
        }

        deselect(){
            for (let item in this.isSelect){
                this.isSelect[item] = false;
            }
        }

        getKey(key){
            return this.data[key];
        }

        setKey(key, data){
            this.data[key] = data;
        }

    }

    const trigger = document.querySelector("menu > .trigger");
    trigger.addEventListener('click', (e) => {
        e.currentTarget.parentElement.classList.toggle("open");
    });

    const tbody = document.querySelector("tbody");
    const thead = document.querySelector("thead");

    let tr = document.createElement("tr");
    for (let column of COLUMNS){
        let th = document.createElement("th");
        th.classList.add("p-3");
        th.textContent = column;    
        tr.appendChild(th);
    }
    thead.appendChild(tr);

    const fileSelector = document.getElementById('file-selector');
    var tmpFile = [];
    fileSelector.addEventListener('change', (event) => {
        const reader = new FileReader();
        reader.onload = handleFileLoad;
        reader.readAsText(event.target.files[0]);
    });

    function handleFileLoad(event){

        tmpFile = [];

        data = event.target.result.split('\n');
        
        for( let i = 1; i < data.length; i++){
            let tmp = data[i].split(',')
            tmpFile.push(new TestData(tmp[0], tmp[1], tmp[2]));
        }

    }


    function editClicked(action){
        let name = action.getAttribute('name');
        
        switch (name) {
            case "add-row":
                addRow();
                break;
        
            case "edit-cell":
                editCell();
                break;
        
            case "delete-row":
                deleteRow();
                break;
        
            case "load-file":
                loadFile();
                break;
        
            default:
                break;
        }
    }

    function addRow(newTestData){

        let tr = document.createElement("tr");
        let changeFlag = false;

        if (newTestData == undefined){
            changeFlag = true;
        }

        newTestData = newTestData || new TestData(testDatas.length, 0, 0);
        testDatas.push(newTestData);

        
        if (changeFlag){
            changePage(current_page);
        }

    }

    function setSelect(target){

        let id = target.getAttribute('id').split('-');
        let col = id[0];
        let iter = id[1];

        let selectTarget = testDatas[iter];
        testDatas[iter].toggleSelect(col);

        if (selectTarget.isSelect[col]){
            selectList[selectTarget.data["ID"]] = selectTarget;
        }else{
            delete selectList[selectTarget.id];
        }

        testDatas[iter].target[col].classList.toggle('bg-secondary');
    }

    function deleteRow(){

        if (Object.keys(selectList).length == 0){
            alert("Can't edit with nothing!");
            return;
        }

        for (let iter in selectList){
            let e = selectList[iter];
            for (let key of COLUMNS){
                if(e.isSelect[key]){
                    testDatas.splice(testDatas.indexOf(e), 1);
                }
            }
        };

        changePage(current_page);

    }

    function editCell(){

        const edit = document.getElementById('editTableField').value;

        if (edit == ''){
            alert("Can't edit with empty amount!");
            return;
        }

        if (Object.keys(selectList).length == 0){
            alert("Can't edit with nothing!");
            return;
        }


        for (let iter in selectList){
            let e = selectList[iter];
            for (let key of COLUMNS){
                if(e.isSelect[key]){
                    e.setKey(key, edit);
                    e.target[key].textContent = edit;
                    e.target[key].classList.remove('bg-secondary');
                    e.isSelect[key] = false;
                }
            }
        };

    }

    function loadFile(){

        loading.classList.remove('invisible');
        testDatas = [];
        
        setTimeout(() => {

            for (let item of tmpFile){
                addRow(item);
            }

            loading.classList.add('invisible');

            changePage(current_page);
        
        }, 0);

    }
    

    function getResult(){

        loading.classList.remove('invisible');

        fetch("{{ url_for('root.test') }}", {
            body: JSON.stringify(testDatas),
            credentials: 'same-origin',
            method: 'POST'
        })
        .then( res => {
            return res.json();
        })
        .then( res => {
            console.log(res.length);
            createCsvFile(res);
            loading.classList.add('invisible');
        })

    }

    function createCsvFile(data){

        let header = "ID, item_cnt_month\n";
        let csvContent = header + data.map(e => e.join(",")).join("\n");
        var fileName = "Result.csv";
        var blob = new Blob([csvContent], {
            type : "application/octet-stream"
        });
        var href = URL.createObjectURL(blob);
        var link = document.createElement("a");
        document.body.appendChild(link);
        link.href = href;
        link.download = fileName;
        link.click();
        
    }

    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
        // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault) theEvent.preventDefault();
        }
    }

    function prevPage()
    {
        if (current_page > 1) {
            current_page--;
            changePage(current_page);
        }
    }

    function nextPage()
    {
        if (current_page < numPages()) {
            current_page++;
            changePage(current_page);
        }
    }

    function changePage(page)
    {
        var btn_next = document.getElementById("btn_next");
        var btn_prev = document.getElementById("btn_prev");
        var page_span = document.getElementById("page");
        var page_number = document.getElementById("page_number");

        // Validate page
        if (page > numPages()) page = numPages();
        if (page < 1) page = 1;
        
        tbody.innerHTML = "";
        
        
        for (var i = (page-1) * ROWS_PER_PAGE; i < (page * ROWS_PER_PAGE) && i < testDatas.length; i++) {
            let tr = document.createElement("tr");
            for (let key of COLUMNS){
                let td = document.createElement("td");
                td.setAttribute('id', `${key}-${testDatas[i].data["ID"]}`);
                if (key != "ID"){
                    td.addEventListener('click', e => { setSelect(e.target); });
                }
                td.textContent = testDatas[i].data[key];
                testDatas[i].target[key] = td;
                tr.appendChild(td);
            }
            tbody.appendChild(tr);
        }


        page_span.innerHTML = page;

        if (numPages() == 0){
            btn_prev.classList.add("invisible");
            btn_next.classList.add("invisible");
            page_number.classList.add("invisible");
        }else{
            btn_prev.classList.remove("invisible");
            btn_next.classList.remove("invisible");
            page_number.classList.remove("invisible");
        }

        if (page == 1) {
            btn_prev.classList.add("disabled");
        } else {
            btn_prev.classList.remove("disabled");
        }

        if (page == numPages()) {
            btn_next.classList.add("disabled");
        } else {
            btn_next.classList.remove("disabled");
        }
    }

    function numPages()
    {
        return Math.ceil(testDatas.length / ROWS_PER_PAGE);
    }

    window.onload = function() {
        changePage(1);
    }

</script>
{% endblock %}